.btn-primary {
    color: #fff;
    background-color: var(--dodger-blue) !important;
    border-color: var(--dodger-blue) !important;
    font-family: LibreFranklin;
    font-size: 12px !important;
    font-weight: 200;
    font-weight: normal !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    padding: 10px 12px 10px 12px;
    letter-spacing: 0.33px;
    text-align: center;
    color: var(--pale-white) !important;
    text-transform: uppercase;
}