h1{
  font-size: 2.813rem;
}

p.sm{
    font-size: 14px;
}
@media screen and (max-width: 768px)   {

    h1 {
        font-size: 32px !important;
    }

}


  h1 {
    font-family: LibreFranklin;
    font-size: 45px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: -1px;
    color: var(--white);
  }
  
  h2 {
    font-family: LibreFranklin;
    font-size: 34px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: -0.46px;
    text-align: center;
    color: var(--black);
  }
  
  h3 {
    font-family: LibreFranklin;
    font-size: 24px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.32px;
    color: var(--black);
  }
  
  .sm_extralight {
    font-family: LibreFranklin;
    font-size: 16px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.14px;
    text-align: center;
    color: var(--black);
  }
  
  .xs-medium {
    font-family: LibreFranklin;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.08px;
    color: var(--black);
  }
  
  .sm {
    font-family: LibreFranklin;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.08px;
    color: var(--white);
  }
  
  .xs-extralight {
    font-family: LibreFranklin;
    font-size: 14px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.08px;
    color: var(--black);
  }
  
  .footer-p {
    font-family: LibreFranklin;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.07px;
    text-align: right;
    color: var(--black);
  }
  
  .nav-link a {
    font-family: LibreFranklin;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
    color: var(--black);
    text-transform: uppercase;
  }
  
  p {
    font-family: LibreFranklin;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
    text-align: center;
    color: var(--black);
  }

  li{ 
    font-family: LibreFranklin;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
  }