$url-fonts : '@/assets/fonts';


:root {
    --white: #fff;
    --black: #000;

    --dodger-blue: #448aff;
    --pale-white: rgba(255, 255, 255, 0.87);
    --container-whitegrey: #fafafa;

    --black-87: rgba(0, 0, 0, 0.87);
    --black-05: rgba(0, 0, 0, 0.05);
    --black-54: rgba(0, 0, 0, 0.54);
    --cart-table-border: #efefef;

}